* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__inner {
  display: flex;
}

.app__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(247, 247, 247);
  #Layer_1 {
    width: 80px;
    height: 80px;
    fill: #dd1f2d;
    padding-right: 20px;
    margin-left: 20px;
  }
  span {
    color: #dd1f2d;
  }
}

.worldwide__icon {
  width: 18px;
  height: auto;
  margin-left: 8px;
}

.country__flag {
  width: 20px;
  height: auto;
  margin-left: 8px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.highest__stats {
  display: flex;
  justify-content: space-between;
}
