* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  .logo {
    display: flex;
    align-items: center;
    #Layer_1 {
      width: 80px;
      height: 80px;
      fill: #dd1f2d;
      padding-right: 20px;
      margin-left: 20px;
    }
    span {
      color: #dd1f2d;
    }
    h1 {
      padding-right: 60px;
    }
  }
  .app__dropdown {
    margin-right: 20px;
    background-color: white;
  }
}

.app__inner {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.app__left {
  flex: 0.8;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.figures {
  display: flex;
  align-items: center;
  .statBox__figures {
    padding-left: 4px;
  }
}

.worldwide__icon {
  width: 18px;
  height: auto;
  margin-left: 8px;
}

.worldwide__dropdown {
  display: inline-block;
}

.app__graph {
  flex-grow: 1;
}

.country__flag {
  width: 20px;
  height: auto;
  margin-left: 8px;
}

.highest__stats {
  display: flex;
  justify-content: space-between;
}

#graphHeading {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 990px) {
  .app__inner {
    flex-direction: column;
  }
  .app__right {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .worldwide__dropdown {
    margin-right: 0px;
  }
}
