.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  .leaflet-container {
    height: 100%;
    border-radius: 12px;
  }
}

.info-container {
  width: 150px;
}

.info-name {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.info-flag {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .info-container {
    width: 80px;
  }

  .info-name {
    margin-top: 3px;
    font-size: 10px;
    font-weight: bold;
  }

  .info-flag {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

  .info-confirmed,
  .info-recovered,
  .info-deaths {
    font-size: 9px;
    margin-top: 7px;
  }
}
