.statBox {
  flex: 1;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.figures {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.statBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem;
  margin-top: 15px !important;
}

.statBox--selected {
  border-top: 10px solid #7dd71d;
}

.statBox--isRed {
  border-color: #cc1034;
}

.statBox__figures--green {
  color: #7dd71d;
}

@media only screen and (max-width: 768px) {
  #figuresFont {
    font-size: 1.2rem;
    margin-left: -6px;
    margin-bottom: -10px;
  }
  #totalFont {
    font-size: 0.7rem;
  }
}
